html, body, ul, li, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: black;
}
p {
	color: black;
	text-indent: 25px;

}
p1 {
	color: red;
	text-decoration: underline
}
a:hover {
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}


body {
	font: 12px arial, sans-serif;
	background-color: FBFBFB;
	color: #FBFBFB;
	zoom: 140%;
}
#wrapper {
	background: url(images/modelportfolio_29.jpg);
}
#header {
	background: 0px 0 url(images/header_bgrs.gif);
}
h1 {
	height: 95px;
	color: #fff;
	font-weight: normal;
	font: 22px "harrow", "Lucida Grande", arial, sans-serif;
	line-height: 95px;
	text-indent: 25px;
	width: 1600px;
}
h1 span {
	font-size: 30px;
}

#body {
	background: top right url(images/body_bg.jpg) no-repeat;
}

#nav {
	background: url(images/fond_gris.gif) repeat-x;
	height: 40px;
	font-size: 17px;
}
#nav em {
	font-size: 22px;
	font-style: normal;
}
.lien em{
	font-size: 15px;
	text-decoration: underline;
	font-style: italic;
	text-indent: 7px;
}
	
#nav ul {
	min-width: 780px;
	padding: 0;
	padding-top: 10px;
}
#nav li {
	float: left;
	background: 12px 6px url(images/bullet_nav.gif) no-repeat;
	padding-left: 50px;
	padding-right: 20px;
	margin: 0;
}
#nav li.first {
	background: none;
	padding-left: 40px;
}
#nav a {
	font-weight: normal;
	color: #9A0000;
	text-decoration: none;
}
#nav a:hover {
	color: #540000;
}

#content h2 {
	font: 16px "times new roman", serif;
	font-weight: normal;
	color: #DA0B01;
	clear: both;
}
#content h2 strong {
	color: red;
	font-weight: normal;
}

#content h2.h {
	font-size: 12px;
}

nav h3{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	text-indent: 10px;
}

nav h3:hover{
	color: #666666;
	border-bottom: 2.5px solid #4B4B4B;
}

nav ul:hover{
	border-bottom: 2px solid #4B4B4B:
}
.sous{
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
}

.sous{
	display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #C1C1C1;
    position: absolute;
    width: 100%;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    width: 100%;
	text-decoration: none;
	text-indent : 25px;
}
.sous h3{
    padding: 10px;
    border-bottom: none;
}
.sous h3:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > h3::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

h4{
	text-decoration: underline;
}
